.mainbox {
    margin-top:150px;

}

.input-group-login {
    margin-bottom: 25px
}

.login-image {
    display: inline-block;
    width: 667px;
    height: 608px;
    background: url("../../content/images/asap.png") no-repeat center top;
    background-size: contain;
}
